Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

WIP: add author card partial
  themes/anadea/layouts/partials/authorCard.html
Due: none

Remove redundant partials
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/terms.html
Due: none

add setting up environment docs
  README.md
Due: none

use dart sass as trinspiler
  themes/anadea/layouts/partials/head/css.html
Due: none

update the netlify config
  netlify.toml
Due: none

Add some utils
  themes/anadea/assets/scss/_utils.scss
  themes/anadea/assets/scss/_variables.scss
  themes/anadea/assets/scss/main.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Post head partial refactor
  themes/anadea/assets/scss/_authorCard.scss
  themes/anadea/assets/scss/_postHead.scss
  themes/anadea/assets/scss/_socialShare.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/authorCard.html
  themes/anadea/layouts/partials/authors.html
  themes/anadea/layouts/partials/postHead.html
  themes/anadea/layouts/partials/socialShare.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Styles refactoring
  themes/anadea/assets/scss/_breadcrumbs.scss
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/_tag.scss
  themes/anadea/assets/scss/_taxonomy.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/breadcrumbs.html
  themes/anadea/layouts/partials/taxonomy.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

update hugo version
  hugo.yml
  netlify.toml
Due: none

fix layout
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/layouts/partials/postHead.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add default avatar for authors
  static/admin/config.yml
  themes/anadea/layouts/partials/authors.html
  themes/anadea/static/img/default-avatar-icon.svg
Due: none

add connect author partial
  content/authors/eric-theodore-cartman/index.md
  content/authors/kyle-broflovski/index.md
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  static/img/avatars/avatar_1.webp
  static/img/avatars/avatar_2.webp
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/connectAuthor.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add author card partial
  themes/anadea/layouts/partials/authorCard.html
  themes/anadea/layouts/partials/authors.html
Due: none

fix ToC layout
  themes/anadea/assets/scss/_toc.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add questions partial
  themes/anadea/assets/js/main.js
  themes/anadea/assets/js/questions.js
  themes/anadea/assets/scss/main.scss
  themes/anadea/assets/scss/questions/_indicator.scss
  themes/anadea/assets/scss/questions/_questions.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/questions.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

add read next partial
  themes/anadea/assets/scss/_authorInfo.scss
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/_readNext.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/authorInfo.html
  themes/anadea/layouts/partials/connectAuthor.html
  themes/anadea/layouts/partials/readNext.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix posts markdown
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  content/posts/cross-platform-app-development-vs-native-our-experience-solving-the-dilemma/index.md
Due: none

add code highlighter styles
  content/posts/our-experience-with-three-js-library/index.md
  hugo.yml
  themes/anadea/assets/scss/_base16-chalk.dark.css
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/main.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Use json to store author info
  content/authors/eric-theodore-cartman/index.md
  content/authors/kyle-broflovski/index.md
  data/authors/eric-theodore-cartman.json
  data/authors/kyle-broflovski.json
  static/admin/config.yml
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/authorCard.html
  themes/anadea/layouts/partials/authorInfo.html
  themes/anadea/layouts/partials/authors.html
  themes/anadea/layouts/partials/connectAuthor.html
  themes/anadea/static/img/default-avatar-icon.svg
Due: none

fix posts layouts & information
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  content/posts/cross-platform-app-development-vs-native-our-experience-solving-the-dilemma/index.md
  content/posts/how-to-create-custom-gym-management-software/index.md
  content/posts/our-experience-with-three-js-library/index.md
  data/categories/development.json
  data/categories/devops.json
  data/industries/sports.json
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/_quotes.scss
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/questions/_questions.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

cleanup
  themes/anadea/assets/js/questions.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

rework breadcrumbs
  themes/anadea/layouts/partials/breadcrumbs.html
Due: none

Path conditions:
  npx --no-install prettier --log-level warn --write: (any of: *.{js,jsx}) or (any of: *.{css,scss})
  npx --no-install eslint --fix: any of: *.{js,jsx}
  npx --no-install stylelint --fix: any of: *.{css,scss}
