Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install eslint --fix"
  ],
  "*.{css,scss}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install stylelint --fix"
  ]
}

add containers for author & taxonomy pages
  themes/anadea/layouts/_default/taxonomy.html
  themes/anadea/layouts/authors/author.html
Due: none

Merge production/master into dev
  themes/anadea/assets/scss/_authorInfo.scss
  themes/anadea/assets/scss/_readNext.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/authorCard.html
  themes/anadea/layouts/partials/authorInfo.html
  themes/anadea/layouts/partials/connectAuthor.html
  themes/anadea/layouts/partials/readNext.html
  themes/anadea/layouts/partials/socialShare.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create header
  themes/anadea/assets/scss/_header.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create mobile header
  static/img/logoMobile.svg
  themes/anadea/assets/scss/_header.scss
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Move the script to a separate file
  themes/anadea/assets/js/header.js
  themes/anadea/assets/js/main.js
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

rework header styles & structure
  themes/anadea/assets/js/header.js
  themes/anadea/assets/scss/header/_header.scss
  themes/anadea/assets/scss/header/_menu.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

improve UX
  themes/anadea/assets/js/header.js
  themes/anadea/assets/scss/header/_header.scss
  themes/anadea/assets/scss/header/_menu.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

optimize svg images
  static/img/heart.svg
  static/img/logo.svg
  static/img/logoMobile.svg
  static/img/social_icons/Instagram.svg
  static/img/social_icons/LinkedIn.svg
  static/img/social_icons/Pinterest.svg
  static/img/social_icons/Tiktok.svg
  static/img/social_icons/TwitterX.svg
  static/img/social_icons/Youtube.svg
  static/img/social_icons/awards.svg
  static/img/social_icons/clutch.svg
  static/img/social_icons/goodfirms.svg
Due: none

extract questionToggler into separate file
  themes/anadea/assets/js/main.js
  themes/anadea/assets/js/questionToggler.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

refactor burger
  themes/anadea/assets/js/header.js
  themes/anadea/assets/scss/header/_burger.scss
  themes/anadea/assets/scss/header/_header.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

cleanup
  themes/anadea/assets/scss/header/_header.scss
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix burger button
  assets/jsconfig.json
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/_utils.scss
  themes/anadea/assets/scss/header/_burger.scss
  themes/anadea/assets/scss/header/_header.scss
  themes/anadea/assets/scss/header/_menu.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/assets/scss/questions/_questions.scss
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Fix properties order
  themes/anadea/assets/scss/_utils.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

use file names linter
  .husky/pre-commit
  .ls-lint.yml
  package-lock.json
  package.json
Due: none

enable emmet for gohtml
  .vscode/settings.json
Due: none

remove orphaned partials
  themes/anadea/assets/scss/_authorInfo.scss
  themes/anadea/layouts/partials/authorCard.html
  themes/anadea/layouts/partials/authorInfo.html
  themes/anadea/layouts/partials/connectAuthor.html
  themes/anadea/layouts/partials/readNext.html
  themes/anadea/layouts/partials/socialShare.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

setting config
  .eslintrc.js
  .prettierrc
  .stylelintrc.json
  .vscode/settings.json
  README.md
  package.json
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

create switcher script
  themes/anadea/assets/js/dark-mode.js
  themes/anadea/assets/js/main.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

add styles for switcher
  themes/anadea/assets/scss/_authorCard.scss
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_breadcrumbs.scss
  themes/anadea/assets/scss/_heroCard.scss
  themes/anadea/assets/scss/_pagination.scss
  themes/anadea/assets/scss/_postCard.scss
  themes/anadea/assets/scss/_postHead.scss
  themes/anadea/assets/scss/_postInfo.scss
  themes/anadea/assets/scss/_promotionCard.scss
  themes/anadea/assets/scss/_socialShare.scss
  themes/anadea/assets/scss/_tag.scss
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/_topPostCard.scss
  themes/anadea/assets/scss/_variables.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/assets/scss/questions/_indicator.scss
  themes/anadea/assets/scss/questions/_questions.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create post head partial
  themes/anadea/assets/scss/_pageHead.scss
  themes/anadea/assets/scss/_themeSwitcher.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/taxonomy.html
  themes/anadea/layouts/authors/author.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/pageHead.html
  themes/anadea/layouts/partials/post_head.html
  themes/anadea/layouts/partials/themeSwitcher.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix files naming
  package-lock.json
  themes/anadea/layouts/authors/author.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/page_head.html
  themes/anadea/layouts/partials/post_head.html
  themes/anadea/layouts/partials/theme_switcher.html
Due: none

fix files naming
  themes/anadea/layouts/_default/taxonomy.html
Due: none

use a wrapper to avoid high coupling
  themes/anadea/layouts/partials/header.html
Due: none

Reverse themes
  themes/anadea/assets/scss/_authorCard.scss
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_breadcrumbs.scss
  themes/anadea/assets/scss/_heroCard.scss
  themes/anadea/assets/scss/_pagination.scss
  themes/anadea/assets/scss/_postCard.scss
  themes/anadea/assets/scss/_postHead.scss
  themes/anadea/assets/scss/_postInfo.scss
  themes/anadea/assets/scss/_promotionCard.scss
  themes/anadea/assets/scss/_socialShare.scss
  themes/anadea/assets/scss/_tag.scss
  themes/anadea/assets/scss/_themeSwitcher.scss
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/_topPostCard.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/assets/scss/questions/_indicator.scss
  themes/anadea/assets/scss/questions/_questions.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

change storage key name
  themes/anadea/assets/js/dark-mode.js
  themes/anadea/assets/scss/_utils.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

use focus-ring mixin
  themes/anadea/assets/scss/_footer.scss
  themes/anadea/assets/scss/_pagination.scss
  themes/anadea/assets/scss/header/_menu.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

animate aside on page scroll
  themes/anadea/assets/js/_menu.js
  themes/anadea/assets/js/_questionToggler.js
  themes/anadea/assets/js/_stickyAside.js
  themes/anadea/assets/js/_themeMode.js
  themes/anadea/assets/js/header.js
  themes/anadea/assets/js/main.js
  themes/anadea/assets/js/post.js
  themes/anadea/assets/js/questionToggler.js
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/layouts/_default/baseof.html
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/head.html
  themes/anadea/layouts/partials/head/main_js.html
  themes/anadea/layouts/partials/head/post_js.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

refactor animate aside on page scroll
  themes/anadea/assets/js/_stickyAside.js
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/layouts/_default/single.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

use new configuration directory
  config/_default/hugo.yml
  config/_default/markup.yml
  config/_default/module.yml
  config/_default/permalinks.yml
  config/_default/related.yml
  config/_default/taxonomies.yml
  hugo.yml
Due: none

add meta tags
  static/admin/config.yml
  themes/anadea/layouts/partials/head.html
Due: none

update husky config
  .husky/pre-commit
Due: none

add pagination for taxonomy page
  themes/anadea/layouts/_default/taxonomy.html
Due: none

add og images
  themes/anadea/assets/default_og.png
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/head.html
  themes/anadea/layouts/partials/meta.html
Due: none

use GTM template
  config/_default/services.yml
  themes/anadea/layouts/partials/head.html
Due: none

fix hero card layout
  themes/anadea/assets/scss/_heroCard.scss
  themes/anadea/layouts/partials/hero_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

remove inline styles
  themes/anadea/layouts/partials/footer.html
  themes/anadea/layouts/partials/post_head.html
Due: none

add alts to images
  themes/anadea/layouts/partials/author_card.html
  themes/anadea/layouts/partials/connect_author.html
  themes/anadea/layouts/partials/footer.html
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/hero_card.html
  themes/anadea/layouts/partials/post_card.html
  themes/anadea/layouts/partials/post_head.html
  themes/anadea/layouts/partials/promote_card.html
  themes/anadea/layouts/partials/top_post_card.html
Due: none

simplify meta generation
  themes/anadea/layouts/_default/taxonomy.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/head.html
  themes/anadea/layouts/partials/meta.html
Due: none

rework GTM integration
  config/_default/params.yml
  config/_default/services.yml
  themes/anadea/layouts/_default/baseof.html
  themes/anadea/layouts/partials/gtm.html
  themes/anadea/layouts/partials/head.html
Due: none

use GTM only in production
  config/production/params.yml
Due: none
