Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

image optimization
  themes/anadea/assets/scss/_contacts.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

WIP: Create search
  config/_default/hugo.yml
  content/search/_index.md
  package-lock.json
  package.json
  themes/anadea/assets/js/_search.js
  themes/anadea/assets/scss/_filters.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/index.json
  themes/anadea/layouts/_default/search.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/filters.html
  themes/anadea/layouts/partials/head/search_js.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

bump hugo version
  netlify.toml
  package.json
Due: none

move shared styles into application bundle
  themes/anadea/assets/scss/application.scss
  themes/anadea/assets/scss/author.scss
  themes/anadea/assets/scss/home.scss
  themes/anadea/assets/scss/taxonomy.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add shortcodes page
  themes/anadea/content/admin/shortcodes.md
  themes/anadea/layouts/_default/shortcodes.html
Due: none

Add copy button for snippets
  static/admin/index.html
Due: none

Attach link to shortcodes into post edit page
  themes/anadea/layouts/_default/shortcodes.html
Due: none

Fix format
  static/admin/index.html
Due: none

hotfix
  themes/anadea/assets/scss/modules/shortcodes/_advertWithCTA.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add form logic
  themes/anadea/layouts/partials/filters.html
Due: none

add feed layout
  themes/anadea/assets/js/_search.js
  themes/anadea/layouts/_default/index.json
  themes/anadea/layouts/_default/search.html
  themes/anadea/layouts/partials/head/search_js.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

generate srcsets
  themes/anadea/layouts/_default/index.json
  themes/anadea/layouts/partials/utils/srcset.html
Due: none

add string transform
  themes/anadea/assets/js/_utils.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

show search results
  themes/anadea/assets/js/_search.js
  themes/anadea/assets/js/search/_templates.js
  themes/anadea/assets/js/search/index.js
  themes/anadea/layouts/partials/head/search_js.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

use search bar
  themes/anadea/assets/js/main.js
  themes/anadea/assets/js/search/_form.js
  themes/anadea/layouts/_default/search.html
  themes/anadea/layouts/_default/taxonomy.html
  themes/anadea/layouts/authors/author.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/filters.html
  themes/anadea/layouts/partials/head/search_form_js.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

cleanup search query
  themes/anadea/assets/js/search/_form.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

add reset form on search page
  themes/anadea/assets/js/search/_form.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

cleanup
  themes/anadea/assets/js/search/_form.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

Replace experimental URLPattern API by URL API
  static/admin/index.html
Due: none

Not include the Shortcodes page in any page collection
  themes/anadea/content/admin/shortcodes.md
Due: none

Fix deprecated field name
  static/admin/config.yml
Due: none

add styles
  themes/anadea/assets/scss/_buttons.scss
  themes/anadea/assets/scss/_filters.scss
  themes/anadea/assets/scss/_variables.scss
  themes/anadea/assets/scss/main.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix conflicts
  themes/anadea/assets/scss/application.scss
  themes/anadea/assets/scss/modules/_filters.scss
  themes/anadea/assets/scss/utils/_buttons.scss
  themes/anadea/layouts/_default/search.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Cleanup _form.js
  themes/anadea/assets/js/search/_form.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

Cleanup srcset.html
  themes/anadea/layouts/partials/utils/srcset.html
Due: none

Cleanup filters.html
  themes/anadea/layouts/partials/filters.html
Due: none

remove custom focus-ring
  themes/anadea/assets/scss/modules/_filters.scss
  themes/anadea/assets/scss/utils/_buttons.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

set images cahe
  config/_default/caches.yml
Due: none

improve render safety
  themes/anadea/layouts/authors/author.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/authors.html
Due: none

sync industries with anadea.info/blog
  data/industries/elearning.json
  data/industries/fintechn.json
  data/industries/oil-and-gas.json
  data/industries/social.json
  data/industries/supply-chain.json
  data/industries/travel.json
Due: none

Add sorting by 'top' and 'promoted'
  static/admin/config.yml
  static/admin/index.html
Due: none

Remove redundant property
  themes/anadea/assets/scss/modules/_postCard.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Cleanup
  static/admin/config.yml
Due: none

Add categories
  data/categories/accessibility.json
  data/categories/app-ideas.json
  data/categories/business-analysis.json
  data/categories/business-tips.json
  data/categories/business.json
  data/categories/code-audit.json
  data/categories/design.json
  data/categories/ecommerce.json
  data/categories/fintech.json
  data/categories/front-end.json
  data/categories/machine-learning.json
  data/categories/mobile.json
  data/categories/promotion.json
  data/categories/qa.json
  data/categories/retail.json
  data/categories/ruby-on-rails.json
  data/categories/trends.json
  data/categories/ux-ui.json
  data/categories/web.json
Due: none

Fix naming
  themes/anadea/assets/js/search/_templates.js
  themes/anadea/layouts/_default/index.json
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

Cleanup
  themes/anadea/layouts/partials/hero_card.html
Due: none

Fix 'undefined' value as an author name
  themes/anadea/assets/js/search/_templates.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

Fix focus ring shape
  themes/anadea/assets/scss/modules/_postCard.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Use cache for images
  package.json
Due: none

Path conditions:
  npx --no-install prettier --log-level warn --write: (any of: *.{js,jsx}) or (any of: *.{css,scss})
  npx --no-install eslint --fix: any of: *.{js,jsx}
  npx --no-install stylelint --fix: any of: *.{css,scss}
