Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install eslint --fix"
  ],
  "*.{css,scss}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install stylelint --fix"
  ]
}

rework submenu layouts & styles
  themes/anadea/assets/js/_menu.js
  themes/anadea/assets/scss/modules/header/_header.scss
  themes/anadea/assets/scss/modules/header/_subMenu.scss
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/menu/about.html
  themes/anadea/layouts/partials/menu/company.html
  themes/anadea/layouts/partials/menu/industries.html
  themes/anadea/layouts/partials/menu/insights.html
  themes/anadea/layouts/partials/menu/portfolio.html
  themes/anadea/layouts/partials/menu/resources.html
  themes/anadea/layouts/partials/menu/services.html
  themes/anadea/layouts/partials/menu/success_stories.html
  themes/anadea/static/img/subMenu/link_arrow.svg
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

rework menu items
  themes/anadea/assets/scss/modules/header/_header.scss
  themes/anadea/assets/scss/modules/header/_menu.scss
  themes/anadea/layouts/partials/header.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

rework mobile menu
  themes/anadea/assets/js/_menu.js
  themes/anadea/assets/scss/application.scss
  themes/anadea/assets/scss/modules/header/_header.scss
  themes/anadea/assets/scss/modules/header/_mobileDrawer.scss
  themes/anadea/assets/scss/modules/header/_mobileMenu.scss
  themes/anadea/assets/scss/modules/header/_subMenu.scss
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/menu/company.html
  themes/anadea/layouts/partials/menu/industries.html
  themes/anadea/layouts/partials/menu/insights.html
  themes/anadea/layouts/partials/menu/mobile_menu.html
  themes/anadea/layouts/partials/menu/services.html
  themes/anadea/layouts/partials/menu/success_stories.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

add links
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/menu/company.html
  themes/anadea/layouts/partials/menu/industries.html
  themes/anadea/layouts/partials/menu/insights.html
  themes/anadea/layouts/partials/menu/mobile_menu.html
  themes/anadea/layouts/partials/menu/services.html
  themes/anadea/layouts/partials/menu/success_stories.html
Due: none

add scroll behavior
  themes/anadea/assets/js/_menu.js
  themes/anadea/assets/scss/modules/header/_header.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

fixes after review
  themes/anadea/assets/scss/modules/header/_mobileDrawer.scss
  themes/anadea/layouts/partials/menu/company.html
  themes/anadea/layouts/partials/menu/industries.html
  themes/anadea/layouts/partials/menu/insights.html
  themes/anadea/layouts/partials/menu/success_stories.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Update Post “top-frontend-development-companies-in-2026/index” (#1237)
  content/posts/top-frontend-development-companies-in-2026/index.md
Due: none

Update Post “top-frontend-development-companies-in-2026/index” (#1238)
  content/posts/top-frontend-development-companies-in-2026/index.md
Due: none

Update Post “top-frontend-development-companies-in-2026/index” (#1239)
  content/posts/top-frontend-development-companies-in-2026/index.md
Due: none

Update Post “top-ai-agent-development-companies/index” (#1240)
  content/posts/top-ai-agent-development-companies/index.md
Due: none

Update Post “top-ai-agent-development-companies/index” (#1241)
  content/posts/top-ai-agent-development-companies/index.md
Due: none

hotfix: mail link in footer
  themes/anadea/layouts/partials/footer.html
Due: none

add redirects
  _redirects
Due: none

hotfix: fix redirect position
  _redirects
Due: none

Create Post “ai-in-e-commerce-where-ai-actually-makes-money-in-e-commerce/index” (#1242)
  content/posts/ai-in-e-commerce-where-ai-actually-makes-money-in-e-commerce/blue-modern-waves-art-blurred-pattern-effect-background-abstract-creative-graphic.jpg
  content/posts/ai-in-e-commerce-where-ai-actually-makes-money-in-e-commerce/index.md
Due: none

Update Post “top-ai-agent-development-companies/index” (#1243)
  content/posts/top-ai-agent-development-companies/index.md
Due: none

update content container width & CSS for table
  themes/anadea/assets/scss/base/_containers.scss
  themes/anadea/assets/scss/modules/_markdown.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/post/post_head.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

linter fixes
  themes/anadea/assets/scss/layouts/_postBody.scss
  themes/anadea/assets/scss/modules/_footer.scss
  themes/anadea/assets/scss/modules/_keepInTouch.scss
  themes/anadea/assets/scss/modules/_postCard.scss
  themes/anadea/assets/scss/modules/_postHead.scss
  themes/anadea/assets/scss/modules/_readNext.scss
  themes/anadea/assets/scss/utils/_mixins.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add mobile adaptive
  themes/anadea/assets/scss/modules/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

update styles
  themes/anadea/assets/scss/modules/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

change table head bg colors
  themes/anadea/assets/scss/modules/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix
