Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install eslint --fix"
  ],
  "*.{css,scss}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install stylelint --fix"
  ]
}

Delete Post “outsourcing-ecommerce-website-development-essential-guide-2/index”
  content/blog/posts/outsourcing-ecommerce-website-development-essential-guide-2/index.md
Due: none

Create Post “test/index”
  content/blog/posts/test/index.md
Due: none

Update Post “test/index”
  content/blog/posts/test/index.md
Due: none

allow rendering html
  hugo.yml
Due: none

disable editorial workflow
  static/admin/config/_default/config.yml
Due: none

Create Post “test-post/index”
  content/blog/posts/test-post/index.md
  content/blog/posts/test-post/it_and_ecommerce_outsourcing_market.png
Due: none

fix structure
  hugo.yml
Due: none

Update Post “test-post/index”
  content/blog/posts/test-post/index.md
Due: none

enable editorial workflow
  static/admin/config/_default/config.yml
Due: none

fix configs
  .stylelintrc.json
  hugo.toml
  hugo.yml
  netlify.toml
  package-lock.json
  package.json
Due: none

integrate Decap CMS
  static/admin/config.yml
  static/admin/index.html
Due: none

Configure admin panel
  static/admin/config.yml
Due: none

Implement layout system
  hugo.yml
  package.json
  static/admin/config.yml
  themes/anadea/LICENSE
  themes/anadea/README.md
  themes/anadea/archetypes/default.md
  themes/anadea/assets/css/main.css
  themes/anadea/assets/js/main.js
  themes/anadea/content/.gitkeep
  themes/anadea/data/.gitkeep
  themes/anadea/go.mod
  themes/anadea/hugo.toml
  themes/anadea/i18n/.gitkeep
  themes/anadea/layouts/404.html
  themes/anadea/layouts/_default/baseof.html
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/authors/author.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/footer.html
  themes/anadea/layouts/partials/head.html
  themes/anadea/layouts/partials/head/css.html
  themes/anadea/layouts/partials/head/js.html
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/menu.html
  themes/anadea/layouts/partials/terms.html
  themes/anadea/layouts/taxonomy/term.html
  themes/anadea/static/favicon.ico
  themes/anadea/theme.toml
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

add styles for table
  themes/anadea/assets/scss/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

move breadcrumbs in the partial
  themes/anadea/layouts/partials/breadcrumbs.html
  themes/anadea/layouts/partials/postHead.html
Due: none

move taxonomy in the partial
  themes/anadea/layouts/partials/postHead.html
  themes/anadea/layouts/partials/taxonomy.html
Due: none

create author card partial
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  themes/anadea/assets/scss/_authorCard.scss
  themes/anadea/assets/scss/_postHead.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/authorCard.html
  themes/anadea/layouts/partials/postHead.html
  themes/anadea/static/img/default-avatar-icon.svg
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create ToC partial
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Create partials
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  themes/anadea/assets/scss/_authorCard.scss
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/_postHead.scss
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/authorCard.html
  themes/anadea/layouts/partials/breadcrumbs.html
  themes/anadea/layouts/partials/postHead.html
  themes/anadea/layouts/partials/taxonomy.html
  themes/anadea/static/img/default-avatar-icon.svg
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

rework breadcrumbs
  themes/anadea/layouts/partials/breadcrumbs.html
Due: none
