Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install eslint --fix"
  ],
  "*.{css,scss}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install stylelint --fix"
  ]
}

Update Post “big-ecological-deal-for-small-businesses-the-electric-car-scheme’s-business-model/index” (#490)
  content/posts/big-ecological-deal-for-small-businesses-the-electric-car-scheme’s-business-model/index.md
Due: none

add sub menu & mobile menu
  themes/anadea/assets/js/_menu.js
  themes/anadea/assets/scss/application.scss
  themes/anadea/assets/scss/modules/header/_burger.scss
  themes/anadea/assets/scss/modules/header/_card.scss
  themes/anadea/assets/scss/modules/header/_header.scss
  themes/anadea/assets/scss/modules/header/_menu.scss
  themes/anadea/assets/scss/modules/header/_mobileMenu.scss
  themes/anadea/assets/scss/modules/header/_subMenu.scss
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/menu/about.html
  themes/anadea/layouts/partials/menu/industries.html
  themes/anadea/layouts/partials/menu/portfolio.html
  themes/anadea/layouts/partials/menu/resources.html
  themes/anadea/layouts/partials/menu/services.html
  themes/anadea/static/img/subMenu/admirals.webp
  themes/anadea/static/img/subMenu/arrow.svg
  themes/anadea/static/img/subMenu/bulletin.webp
  themes/anadea/static/img/subMenu/streeteasy.webp
  themes/anadea/static/img/subMenu/ua.webp
  themes/anadea/static/img/subMenu/valevpn.webp
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

small layout fixes
  themes/anadea/assets/js/_menu.js
  themes/anadea/assets/scss/modules/header/_card.scss
  themes/anadea/assets/scss/modules/header/_header.scss
  themes/anadea/assets/scss/modules/header/_subMenu.scss
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/menu/portfolio.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

refactor
  themes/anadea/assets/js/_menu.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

fix height for menu
  themes/anadea/assets/scss/modules/header/_header.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Update Post “gamification-in-e-learning/index” (#288)
  content/posts/gamification-in-e-learning/index.md
Due: none

add keyboard event
  themes/anadea/assets/js/_menu.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

cleanup
  themes/anadea/layouts/partials/header.html
Due: none

use partial for mobile menu
  themes/anadea/layouts/partials/header.html
  themes/anadea/layouts/partials/menu/mobile_menu.html
Due: none

change fonts
  static/admin/shortcodes.js
  themes/anadea/assets/scss/application.scss
  themes/anadea/assets/scss/base/_fonts.scss
  themes/anadea/assets/scss/base/_overrides.scss
  themes/anadea/layouts/partials/head.html
  themes/anadea/static/fonts/stem/STT55.otf
  themes/anadea/static/fonts/stem/STT55.woff2
  themes/anadea/static/fonts/stem/STT56.otf
  themes/anadea/static/fonts/stem/STT56.woff2
  themes/anadea/static/fonts/stem/STT75.otf
  themes/anadea/static/fonts/stem/STT75.woff2
  themes/anadea/static/fonts/stem/STT76.otf
  themes/anadea/static/fonts/stem/STT76.woff2
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

fix header links styles
  themes/anadea/assets/js/_menu.js
  themes/anadea/assets/scss/modules/header/_menu.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

bump node modules
  package-lock.json
  package.json
Due: none

Add local font files
  static/fonts/wix_madefor_display/WixMadeforDisplay-Bold.otf
  static/fonts/wix_madefor_display/WixMadeforDisplay-Bold.woff2
  static/fonts/wix_madefor_display/WixMadeforDisplay-ExtraBold.otf
  static/fonts/wix_madefor_display/WixMadeforDisplay-ExtraBold.woff2
  static/fonts/wix_madefor_display/WixMadeforDisplay-Medium.otf
  static/fonts/wix_madefor_display/WixMadeforDisplay-Medium.woff2
  static/fonts/wix_madefor_display/WixMadeforDisplay-Regular.otf
  static/fonts/wix_madefor_display/WixMadeforDisplay-Regular.woff2
  static/fonts/wix_madefor_display/WixMadeforDisplay-SemiBold.otf
  static/fonts/wix_madefor_display/WixMadeforDisplay-SemiBold.woff2
Due: none

Use Wix Madefor Display font
  themes/anadea/assets/scss/application.scss
  themes/anadea/assets/scss/base/_fonts.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Add fallback to local font
  themes/anadea/assets/scss/base/_fonts.scss
  themes/anadea/assets/scss/base/_overrides.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Update fallback metrics
  themes/anadea/assets/scss/base/_fonts.scss
  themes/anadea/assets/scss/base/_overrides.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Fix CLS
  themes/anadea/layouts/partials/post/post_head.html
Due: none

Fix husky
  .husky/pre-commit
Due: none

Create Post “how-to-implement-ai-in-business-essential-steps/index” (#491)
  content/posts/how-to-implement-ai-in-business-essential-steps/ai-implementation.jpg
  content/posts/how-to-implement-ai-in-business-essential-steps/ai-market-overview.png
  content/posts/how-to-implement-ai-in-business-essential-steps/benefits-of-ai-implementation.png
  content/posts/how-to-implement-ai-in-business-essential-steps/implementing-ai_-step-by-step-guide.png
  content/posts/how-to-implement-ai-in-business-essential-steps/index.md
Due: none

Remove using the fonts.gstatic.com to handle fonts
  themes/anadea/layouts/partials/head.html
Due: none

replace year in footer
  themes/anadea/layouts/partials/footer.html
Due: none

fix color
  themes/anadea/assets/scss/modules/_keepReading.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix margin
  themes/anadea/assets/scss/modules/_keepReading.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add states for button
  themes/anadea/assets/scss/modules/shortcodes/_advertWithCTA.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix color for dark theme
  themes/anadea/assets/scss/modules/shortcodes/_advertWithCTA.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add timeout
  themes/anadea/assets/js/_menu.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

fix styles
  themes/anadea/assets/scss/modules/header/_header.scss
  themes/anadea/assets/scss/modules/header/_menu.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix styles
  themes/anadea/assets/scss/modules/_subscription.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

use subscription partial
  themes/anadea/layouts/_default/search.html
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/authors/author.html
  themes/anadea/layouts/index.html
Due: none

use subscription API
  themes/anadea/assets/js/_subscription.js
  themes/anadea/assets/js/application.js
  themes/anadea/assets/scss/base/_overrides.scss
  themes/anadea/layouts/partials/subscription.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

fix asset path
  themes/anadea/layouts/partials/contacts.html
Due: none

fix husky
  .husky/pre-commit
Due: none

refactor
  themes/anadea/assets/js/_contactForm.js
  themes/anadea/assets/js/utils/createField.js
  themes/anadea/assets/js/utils/parseCookie.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

test
  content/404.md
  netlify.toml
  themes/anadea/content/404.md
Due: none

test 2
  netlify.toml
Due: none

test 404
  netlify.toml
Due: none

cleanup
  themes/anadea/layouts/partials/subscription.html
Due: none
