Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

add team to author config
  content/posts/test-3/index.md
  data/authors/web-development-team.json
  static/admin/config.yml
Due: none

rework hero card partial
  themes/anadea/assets/scss/_heroCard.scss
  themes/anadea/layouts/partials/hero_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

rework author card partial
  themes/anadea/assets/scss/_authorCard.scss
  themes/anadea/layouts/partials/author_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

rework connect author partial
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/layouts/partials/connect_author.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Use inline SVG
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/layouts/partials/connect_author.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

use team avatar partial
  themes/anadea/assets/scss/_authorCard.scss
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_heroCard.scss
  themes/anadea/assets/scss/_teamAvatar.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/author_card.html
  themes/anadea/layouts/partials/connect_author.html
  themes/anadea/layouts/partials/hero_card.html
  themes/anadea/layouts/partials/team_avatar.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

hotfix: add background color to author connect partial
  themes/anadea/assets/scss/_authorConnect.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create image optimization hook
  config/_default/params.yml
  themes/anadea/layouts/_default/_markup/render-image.html
Due: none

create image optimization partial
  themes/anadea/layouts/partials/image.html
Due: none

use image optimization partial
  assets/img/avatars/avatar_1.webp
  assets/img/avatars/avatar_2.webp
  static/admin/config.yml
  themes/anadea/layouts/partials/author_card.html
  themes/anadea/layouts/partials/connect_author.html
  themes/anadea/layouts/partials/hero_card.html
  themes/anadea/layouts/partials/image.html
  themes/anadea/layouts/partials/post_card.html
  themes/anadea/layouts/partials/promote_card.html
  themes/anadea/layouts/partials/top_post_card.html
Due: none

cleanup
  themes/anadea/layouts/partials/connect_author.html
  themes/anadea/layouts/partials/hero_card.html
  themes/anadea/layouts/partials/promote_card.html
  themes/anadea/layouts/partials/top_post_card.html
Due: none

replace og image
  themes/anadea/assets/default_og.jpg
  themes/anadea/assets/default_og.png
  themes/anadea/layouts/partials/head.html
Due: none

hotfix: fix link in footer
  themes/anadea/layouts/partials/footer.html
Due: none

hotfix: add missing pagination
  config/_default/hugo.yml
  content/posts/how-to-create-e-learning-website-and-attract-users/index.md
  content/posts/test-3/index.md
  data/authors/eric-theodore-cartman.json
  data/authors/kyle-broflovski.json
  themes/anadea/layouts/_default/taxonomy.html
  themes/anadea/layouts/authors/author.html
Due: none

Rework "connect author" partial
  themes/anadea/assets/scss/_keepInTouch.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/connect_author.html
  themes/anadea/layouts/partials/keep_in_touch.html
  themes/anadea/static/img/keepInTouch-avatar.png
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix layout in partials
  themes/anadea/assets/scss/_postCard.scss
  themes/anadea/assets/scss/_topPostCard.scss
  themes/anadea/layouts/partials/post_card.html
  themes/anadea/layouts/partials/promote_card.html
  themes/anadea/layouts/partials/top_post_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add sorting in admin collections
  static/admin/config.yml
Due: none

Implement copy to clipboard functional
  themes/anadea/assets/js/_copyToClipboard.js
  themes/anadea/assets/js/post.js
  themes/anadea/assets/scss/_socialShare.scss
  themes/anadea/layouts/partials/social_share.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

Create Post “fintech-healthcare-solutions-benefits-and-new-opportunities/index”
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/fintech_in_healthcare.jpg
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/index.md
Due: none

Update Post “fintech-healthcare-solutions-benefits-and-new-opportunities/index”
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/index.md
Due: none

Update Post “fintech-healthcare-solutions-benefits-and-new-opportunities/index”
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/benefits_of_fintech_in_healthcare.jpg
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/carecredit.jpg
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/cedar.jpg
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/index.md
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/wellpay.jpg
Due: none

Update Post “fintech-healthcare-solutions-benefits-and-new-opportunities/index”
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/fintech_healthcare.jpg
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/fintech_healthcare_socials.jpg
  content/posts/fintech-healthcare-solutions-benefits-and-new-opportunities/index.md
Due: none

Use simple publish mode
  static/admin/config.yml
Due: none

fix images quality
  config/_default/imaging.yml
  config/_default/params.yml
  themes/anadea/layouts/_default/_markup/render-image.html
  themes/anadea/layouts/partials/image.html
Due: none

add space for li tags
  themes/anadea/assets/scss/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add hover effect for links
  themes/anadea/assets/scss/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

use only h2 tags in toc
  config/_default/markup.yml
  themes/anadea/assets/scss/_toc.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

change typography
  themes/anadea/layouts/partials/subscription.html
Due: none

change background
  themes/anadea/assets/scss/_subscription.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Create Post “qweqweq/index”
  content/posts/qweqweq/index.md
Due: none

Create Author “12321312321”
  data/authors/12321312321.json
Due: none

Create Post “1312312/index”
  content/posts/1312312/index.md
Due: none

Update Post “1312312/index”
  content/posts/1312312/index.md
Due: none

rework layout & styles
  themes/anadea/assets/scss/_contacts.scss
  themes/anadea/layouts/partials/contacts.html
  themes/anadea/static/img/contact-form-clip.svg
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add sales collection
  assets/img/avatars/aleksandra-lichko.webp
  assets/img/avatars/anna-potkalo.webp
  assets/img/avatars/daria-krykunova.webp
  assets/img/avatars/irina-lysenko.webp
  assets/img/avatars/vadim-lapitsky.webp
  data/sales/aleksandra-lichko.json
  data/sales/anna-potkalo.json
  data/sales/daria-krykunova.json
  data/sales/irina-lysenko.json
  data/sales/vadim-lapitsky.json
  static/admin/config.yml
Due: none

add sales to industries into admin panel
  data/industries/dating.json
  data/industries/education.json
  data/industries/financial.json
  data/industries/healthcare.json
  data/industries/real-estate.json
  data/industries/sports.json
Due: none

rework keep in touch partial
  themes/anadea/assets/scss/_keepInTouch.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/connect_author.html
  themes/anadea/layouts/partials/keep_in_touch.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Path conditions:
  npx --no-install prettier --log-level warn --write: (any of: *.{js,jsx}) or (any of: *.{css,scss})
  npx --no-install eslint --fix: any of: *.{js,jsx}
  npx --no-install stylelint --fix: any of: *.{css,scss}
