Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install eslint --fix"
  ],
  "*.{css,scss}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install stylelint --fix"
  ]
}

redesign featured posts block
  themes/anadea/assets/scss/modules/_featuredPosts.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign post card partial
  themes/anadea/assets/scss/modules/_postCard.scss
  themes/anadea/layouts/partials/post_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign subscription partial
  themes/anadea/assets/scss/modules/_subscription.scss
  themes/anadea/layouts/partials/subscription.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign ToC partial
  themes/anadea/assets/scss/base/_variables.scss
  themes/anadea/assets/scss/modules/_toc.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

changed markdown color
  themes/anadea/assets/scss/modules/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign shortcodes
  themes/anadea/assets/scss/modules/shortcodes/_advert.scss
  themes/anadea/assets/scss/modules/shortcodes/_advertWithCTA.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign post head block
  themes/anadea/assets/scss/modules/_authorCard.scss
  themes/anadea/assets/scss/modules/_postCard.scss
  themes/anadea/assets/scss/modules/_postHead.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign hero card partial
  themes/anadea/assets/scss/modules/_heroCard.scss
  themes/anadea/assets/scss/modules/_teamAvatar.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

rework layout for search feed
  themes/anadea/assets/js/search/_templates.js
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

change button color in theme switcher
  themes/anadea/assets/scss/modules/_themeSwitcher.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign tag partial
  themes/anadea/assets/scss/modules/_tag.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign global title
  themes/anadea/assets/scss/author.scss
  themes/anadea/assets/scss/home.scss
  themes/anadea/layouts/authors/author.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Fix assets path
  themes/anadea/layouts/partials/head/application_css.html
  themes/anadea/layouts/partials/head/application_js.html
  themes/anadea/layouts/partials/head/page_css.html
  themes/anadea/layouts/partials/head/page_js.html
  themes/anadea/layouts/partials/head/search_form_js.html
  themes/anadea/layouts/partials/head/search_js.html
Due: none

Fix typo
  themes/anadea/layouts/partials/head/application_css.html
Due: none

Fix links url
  themes/anadea/layouts/_default/index.json
  themes/anadea/layouts/partials/head.html
  themes/anadea/layouts/partials/utils/srcset.html
Due: none

Revert meta RelPermalink to Permalink
  themes/anadea/layouts/partials/head.html
Due: none

add new logic to breadcrumbs
  themes/anadea/layouts/partials/breadcrumbs.html
Due: none

change border radius for button
  themes/anadea/assets/scss/modules/_footer.scss
  themes/anadea/assets/scss/modules/header/_header.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

redesign shortcodes
  themes/anadea/assets/scss/modules/shortcodes/_advert.scss
  themes/anadea/assets/scss/modules/shortcodes/_advertWithCTA.scss
  themes/anadea/assets/scss/modules/shortcodes/_ctabutton.scss
  themes/anadea/assets/scss/post.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create empty state templates
  themes/anadea/assets/js/search/_templates.js
  themes/anadea/assets/js/search/index.js
  themes/anadea/assets/scss/application.scss
  themes/anadea/assets/scss/modules/_emptyState.scss
  themes/anadea/assets/scss/modules/_filters.scss
  themes/anadea/layouts/_default/search.html
  themes/anadea/layouts/partials/filters.html
  themes/anadea/static/img/no-result-image.png
  themes/anadea/static/img/search-reset-image.png
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

add some variables
  themes/anadea/assets/scss/modules/_emptyState.scss
  themes/anadea/assets/scss/modules/_markdown.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Fix render crash if image is remote
  themes/anadea/layouts/_default/_markup/render-image.html
  themes/anadea/layouts/_default/_markup/render-link.html
Due: none

fix team avatar background
  themes/anadea/assets/scss/modules/_authorCard.scss
  themes/anadea/assets/scss/modules/_heroCard.scss
  themes/anadea/assets/scss/modules/_teamAvatar.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

replace png to svg
  themes/anadea/assets/js/search/_templates.js
  themes/anadea/static/img/no-result-image.png
  themes/anadea/static/img/no-result-image.svg
  themes/anadea/static/img/search-reset-image.png
  themes/anadea/static/img/search-reset-image.svg
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix

fix color for button text
  themes/anadea/assets/scss/modules/_emptyState.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

change publish mode
  static/admin/config.yml
Due: none

increase config timeout
  config/_default/hugo.yml
Due: none

fix syntax
  content/posts/it-duel-2017-implementation-part3-the-engine/index.md
Due: none

cleanup
  content/posts/it-duel-2017-implementation-part3-the-engine/index.md
Due: none

fix syntax
  themes/anadea/layouts/_default/single.html
Due: none

change fields order in admin post edit
  static/admin/config.yml
  themes/anadea/layouts/_default/single.html
Due: none

Update Post “10-tips-to-improve-usability-of-your-app/index”
  content/posts/10-tips-to-improve-usability-of-your-app/index.md
Due: none
