Repository Horbenkodev/hugo-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install eslint --fix"
  ],
  "*.{css,scss}": [
    "npx --no-install prettier --log-level warn --write",
    "npx --no-install stylelint --fix"
  ]
}

fix posts layouts & information
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  content/posts/cross-platform-app-development-vs-native-our-experience-solving-the-dilemma/index.md
  content/posts/how-to-create-custom-gym-management-software/index.md
  content/posts/our-experience-with-three-js-library/index.md
  data/categories/development.json
  data/categories/devops.json
  data/industries/sports.json
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/_quotes.scss
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/questions/_questions.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix posts markdown
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  content/posts/cross-platform-app-development-vs-native-our-experience-solving-the-dilemma/index.md
Due: none

add read next partial
  themes/anadea/assets/scss/_authorInfo.scss
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/_readNext.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/authorInfo.html
  themes/anadea/layouts/partials/connectAuthor.html
  themes/anadea/layouts/partials/readNext.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

bump hugo version
  hugo.yml
  netlify.toml
  themes/anadea/hugo.toml
Due: none

bump admin panel version
  static/admin/index.html
Due: none

change dev server run options
  package-lock.json
  package.json
Due: none

follow the naming convention for partials
  content/posts/_index.md
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/_default/taxonomy.html
  themes/anadea/layouts/partials/author_card.html
  themes/anadea/layouts/partials/author_info.html
  themes/anadea/layouts/partials/authors.html
  themes/anadea/layouts/partials/connect_author.html
  themes/anadea/layouts/partials/post_head.html
  themes/anadea/layouts/partials/readNext.html
  themes/anadea/layouts/partials/read_next.html
  themes/anadea/layouts/partials/social_share.html
Due: none

add post card partial
  themes/anadea/assets/scss/_postCard.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/post_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add keep reading partial
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  content/posts/how-to-create-custom-gym-management-software/index.md
  hugo.yml
  themes/anadea/assets/scss/_keepReading.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/keepReading.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add subscription partial
  themes/anadea/assets/scss/_subscription.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/subscription.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add contacts partial
  themes/anadea/assets/scss/_contacts.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/contacts.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix variables
  themes/anadea/assets/scss/_postCard.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

rename keep reading partial
  themes/anadea/assets/scss/_keepReading.scss
  themes/anadea/layouts/_default/single.html
  themes/anadea/layouts/partials/keepReading.html
  themes/anadea/layouts/partials/keep_reading.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix post publish date
  themes/anadea/assets/scss/_postInfo.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/partials/author_info.html
  themes/anadea/layouts/partials/post_card.html
  themes/anadea/layouts/partials/post_info.html
  themes/anadea/layouts/partials/read_next.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add featured posts
  content/posts/_index.md
  content/posts/data-privacy-instruments-advice-for-businesses-and-consumers/index.md
  content/posts/data-privacy-instruments-advice-for-businesses-and-consumers/test.png
  content/posts/how-to-create-e-learning-website-and-attract-users/index.md
  content/posts/how-to-create-e-learning-website-and-attract-users/test.png
  content/posts/vivid-advantages-of-custom-software-development/index.md
  content/posts/vivid-advantages-of-custom-software-development/test.png
  static/admin/config.yml
  themes/anadea/assets/scss/_featuredPosts.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/index.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

update posts contents
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/1kbyhhw5.jpg
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  content/posts/cross-platform-app-development-vs-native-our-experience-solving-the-dilemma/8j1xcteb.jpg
  content/posts/cross-platform-app-development-vs-native-our-experience-solving-the-dilemma/index.md
  content/posts/data-privacy-instruments-advice-for-businesses-and-consumers/9pvm9fkq.jpg
  content/posts/data-privacy-instruments-advice-for-businesses-and-consumers/index.md
  content/posts/how-to-create-custom-gym-management-software/amj6_u3o.jpg
  content/posts/how-to-create-custom-gym-management-software/index.md
  content/posts/how-to-create-e-learning-website-and-attract-users/ex5h2_ss.jpg
  content/posts/how-to-create-e-learning-website-and-attract-users/index.md
  content/posts/our-experience-with-three-js-library/epxyl20r.jpg
  content/posts/our-experience-with-three-js-library/index.md
  content/posts/test-2/index.md
  content/posts/test-2/test-2/dokdujzn.jpg
  content/posts/test/avatar_2.webp
  content/posts/test/test1.png
  content/posts/vivid-advantages-of-custom-software-development/index.md
  content/posts/vivid-advantages-of-custom-software-development/vivid-advantages-of-custom-software-development/dokdujzn.jpg
Due: none

add post feed partial
  themes/anadea/assets/scss/_postFeed.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/baseof.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/post_card.html
  themes/anadea/layouts/partials/read_next.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add promote card partial
  content/posts/data-privacy-instruments-advice-for-businesses-and-consumers/index.md
  content/posts/vivid-advantages-of-custom-software-development/index.md
  themes/anadea/assets/scss/_promotionCard.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/promote_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add top post card partial
  themes/anadea/assets/scss/_featuredPosts.scss
  themes/anadea/assets/scss/_mediaQueries.scss
  themes/anadea/assets/scss/_promotionCard.scss
  themes/anadea/assets/scss/_topPostCard.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/promote_card.html
  themes/anadea/layouts/partials/top_post_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

WIP: add pagination partial
  content/posts/test-3/ecommerce_outsourcing.png
  content/posts/test-3/index.md
  hugo.yml
  themes/anadea/assets/scss/_pagination.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/pagination.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add hero card partial
  themes/anadea/assets/scss/_heroCard.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/authors/author.html
  themes/anadea/layouts/partials/hero_card.html
  themes/anadea/layouts/partials/post_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create author page
  themes/anadea/assets/scss/_subscription.scss
  themes/anadea/layouts/authors/author.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add advert shortcodes
  content/posts/test-3/index.md
  themes/anadea/assets/scss/main.scss
  themes/anadea/assets/scss/shortcodes/_advert.scss
  themes/anadea/assets/scss/shortcodes/_advertWithCTA.scss
  themes/anadea/assets/scss/shortcodes/_ctabutton.scss
  themes/anadea/layouts/shortcodes/advert.html
  themes/anadea/layouts/shortcodes/advert_with_cta.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

create footer
  content/posts/_index.md
  static/img/heart.svg
  static/img/logo.svg
  static/img/social_icons/Instagram.svg
  static/img/social_icons/LinkedIn.svg
  static/img/social_icons/Pinterest.svg
  static/img/social_icons/Tiktok.svg
  static/img/social_icons/TwitterX.svg
  static/img/social_icons/Youtube.svg
  static/img/social_icons/awards.svg
  static/img/social_icons/clutch.svg
  static/img/social_icons/company.svg
  static/img/social_icons/goodfirms.svg
  themes/anadea/assets/scss/_footer.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/baseof.html
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/footer.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

Rework post page body layout
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/_readNext.scss
  themes/anadea/layouts/partials/read_next.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add tags to post card
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/post_card.html
  themes/anadea/layouts/partials/top_post_card.html
Due: none

fix color variables
  themes/anadea/assets/scss/_heroCard.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add responsive for home page
  themes/anadea/assets/scss/_containers.scss
  themes/anadea/assets/scss/_featuredPosts.scss
  themes/anadea/assets/scss/_pagination.scss
  themes/anadea/assets/scss/_postCard.scss
  themes/anadea/assets/scss/_postFeed.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/breadcrumbs.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add responsive for post page
  themes/anadea/assets/js/main.js
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_contacts.scss
  themes/anadea/assets/scss/_keepReading.scss
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/_readNext.scss
  themes/anadea/assets/scss/_subscription.scss
  themes/anadea/assets/scss/_toc.scss
  themes/anadea/assets/scss/questions/_indicator.scss
  themes/anadea/assets/scss/questions/_questions.scss
  themes/anadea/layouts/_default/single.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install eslint --fix, npx --no-install stylelint --fix

use publishDate instead of date
  content/posts/_index.md
  content/posts/cloud-cost-optimization-how-to-reduce-your-expenses/index.md
  content/posts/cross-platform-app-development-vs-native-our-experience-solving-the-dilemma/index.md
  content/posts/data-privacy-instruments-advice-for-businesses-and-consumers/index.md
  content/posts/how-to-create-custom-gym-management-software/index.md
  content/posts/how-to-create-e-learning-website-and-attract-users/index.md
  content/posts/our-experience-with-three-js-library/index.md
  content/posts/test-2/index.md
  content/posts/test-3/index.md
  content/posts/vivid-advantages-of-custom-software-development/index.md
  static/admin/config.yml
  themes/anadea/layouts/partials/post_head.html
  themes/anadea/layouts/partials/post_info.html
Due: none

create taxonomy page
  themes/anadea/assets/scss/_taxonomyPage.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/_default/taxonomy.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add responsive for table
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/layouts/_default/baseof.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix config
  hugo.yml
Due: none

adaptive layout improvement
  content/posts/how-to-create-custom-gym-management-software/index.md
  content/posts/how-to-create-e-learning-website-and-attract-users/index.md
  content/posts/test-3/index.md
  content/posts/test/avatar_2.webp
  content/posts/test/test1.png
  content/posts/vivid-advantages-of-custom-software-development/dokdujzn.jpg
  content/posts/vivid-advantages-of-custom-software-development/index.md
  content/posts/vivid-advantages-of-custom-software-development/vivid-advantages-of-custom-software-development/dokdujzn.jpg
  themes/anadea/assets/scss/_authorConnect.scss
  themes/anadea/assets/scss/_featuredPosts.scss
  themes/anadea/assets/scss/_postCard.scss
  themes/anadea/assets/scss/_postInfo.scss
  themes/anadea/assets/scss/_promotionCard.scss
  themes/anadea/assets/scss/_readNext.scss
  themes/anadea/assets/scss/_tag.scss
  themes/anadea/assets/scss/_topPostCard.scss
  themes/anadea/assets/scss/main.scss
  themes/anadea/layouts/index.html
  themes/anadea/layouts/partials/post_card.html
  themes/anadea/layouts/partials/post_info.html
  themes/anadea/layouts/partials/promote_card.html
  themes/anadea/layouts/partials/top_post_card.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix first element spacing
  themes/anadea/assets/scss/_markdown.scss
  themes/anadea/layouts/_default/single.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

refactor subscription partial
  themes/anadea/assets/scss/_subscription.scss
  themes/anadea/layouts/partials/subscription.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

add functional to attach file in contacts partial
  themes/anadea/assets/scss/_contacts.scss
  themes/anadea/layouts/partials/contacts.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix layout in post body
  themes/anadea/assets/scss/_postBody.scss
  themes/anadea/assets/scss/questions/_questions.scss
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

implement paginator logic
  themes/anadea/assets/scss/_pagination.scss
  themes/anadea/layouts/partials/pagination.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix

fix layout for home page
  themes/anadea/assets/scss/_pagination.scss
  themes/anadea/assets/scss/_postFeed.scss
  themes/anadea/assets/scss/_subscription.scss
  themes/anadea/layouts/index.html
Due: npx --no-install prettier --log-level warn --write, npx --no-install stylelint --fix
